doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(href='http://fonts.googleapis.com/css?family=Alegreya+SC:400,700,400italic,700italic,900,900italic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100', rel='stylesheet', type='text/css')

		link(rel='stylesheet', href="/stylesheets/style.css")
		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/vendor/modernizr.custo	m.13282.js')
		script(type='text/javascript', src='/javascripts/flyingtiles.js')
		if mobile
			script(type='text/javascript', src='/javascripts/upload.mobile.js')
		else
			script(type='text/javascript', src='/javascripts/upload.desktop.js')
		script(type='text/javascript', src='/javascripts/index.js')

		if fancybg
			script.
				if (!("WebKitCSSMatrix" in window)) window.location.pathname = "/simple";

		if forceOldFashionUpload
			script.
				window.forceOldFashionUpload = true;

		if userid
			script.
				window.userid = "#{userid}";

		script.
			(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);mixpanel.init("b95e9bf0eaeb9de749e6e3be5ac85c50");
	body
		if fancybg
			iframe.fancybg(src="/fancybg")
		else
			.staticbg

		.overlay
			.title
				strong MiX
				| &nbsp;je selfie in het Media Jaaroverzicht
			.subtitle Upload je foto en zie jezelf opgebouwd met de Media-hoogtepunten van 2013
			.cardwrapper(style="width:#{card.width}px; height:#{card.height}px")
				img.christmascard(src="/images/example.png", data-width="#{card.width}", data-height="#{card.height}", data-mosaic-offset-x="#{card.mosaicOffsetX}", data-mosaic-offset-y="#{card.mosaicOffsetY}")
				each tile in tiles
					img.faketile(src="#{tile.image}", title="#{tile.title}" data-top="#{tile.top}", data-left="#{tile.left}", data-size="#{tile.size}", data-maxsize="#{tile.maxsize}")
				img.userchristmascard(title="Klik om de hoge kwaliteitsversie te laden")

				.buttons
					if mobile
						span.button(title="Neem een foto")
							img(src="/images/cam.png")
							input#fileinput.fileinput(type="file", name="files[]", accept="image/*")

					else
						#normalupload
							span#webcambutton.button.left
								img(src="/images/webcam.png")
							span.button.right
								img(src="/images/gallery.png")
								input#fileinput.fileinput(type="file", name="files[]", accept="image/*")

						form#oldfashionupload(action='/oldfashionupload', enctype='multipart/form-data', method='post')
							| Selecteer een foto:
							br
							input(type='file', name='file')
							br
							input(type='submit', value='Verstuur')
						.webcamwrapper
							.webcam
								video#video
								.takepicture
									| Neem foto
								canvas#canvas

			.share
				//- GOOGLE PLUS
				a(href='https://plus.google.com/share?url=#{imgUrl}')
					img(src='/images/social/g+-ball-64.png')

				//- TWITTER
				a(href='http://twitter.com/home?status=#{message}#{imgUrl}')
					img(src='/images/social/twitter-ball-64.png')

				//- FACEBOOK
				a(href='http://www.facebook.com/sharer/sharer.php?s=100&p[url]=#{pageUrl}&p[images][0]=#{imgUrl}&p[title]=#{title}')
					img(src='/images/social/fb-ball-64.png')

				//- LINKEDIN
				a(href='http://www.linkedin.com/shareArticle?mini=true&url=#{imgUrl}&title=#{title}')
					img(src='/images/social/linkedin-ball-64.png')

				//- PINTEREST
				<a href='javascript:void((function()%7Bvar%20e=document.createElement(&apos;script&apos;);e.setAttribute(&apos;type&apos;,&apos;text/javascript&apos;);e.setAttribute(&apos;charset&apos;,&apos;UTF-8&apos;);e.setAttribute(&apos;src&apos;,&apos;http://assets.pinterest.com/js/pinmarklet.js?r=&apos;+Math.random()*99999999);document.body.appendChild(e)%7D)());'>
<<<<<<< HEAD
				img(src='/images/social/pinter-ball-64.png')
=======
				img(src='/images/social/pinter-ball-64.png')
>>>>>>> 6d2dbc720591cfc017649b9767ec84d8337fc817
