doctype html5
html
	head
		//- Facebook meta tags:
		meta(property="og:image" content="#{sharing.imageUrl}")
		meta(property="og:title" content="#{sharing.messageNoHash}")
		meta(property="og:url" content="#{sharing.sharebleUrl}")
		meta(property="og:site_name" content="#{sharing.title}")

		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(href='http://fonts.googleapis.com/css?family=Alegreya+SC:400,700,400italic,700italic,900,900italic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100', rel='stylesheet', type='text/css')

		link(rel='stylesheet', href="/stylesheets/style.css")
		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')

		include analytics

	body
		.staticbg

		.overlay
			.title
				a(href="/")
					strong MiX
					| &nbsp;je selfie met het Media Jaaroverzicht
			a(href="/")
				img.userchristmascard(src="#{mosaicimage}")


