!!! 5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(href='http://fonts.googleapis.com/css?family=Alegreya+SC:400,700,400italic,700italic,900,900italic', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href="/stylesheets/style.css")

		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/vendor/snowstorm/snowstorm.js')
	body
		.christmassy Share Your MiX Kerstkaart 2013
		br
		img#shareimage(src='/images/Joe wont shit of mouse.jpg   ')

		.share
			//- GOOGLE PLUS
			a(href='https://plus.google.com/share?url=#{imgUrl}')
				img(src='/images/social/g+-ball-64.png')

			//- TWITTER
			a(href='http://twitter.com/home?status=#{message}#{imgUrl}')
				img(src='/images/social/twitter-ball-64.png')

			//- FACEBOOK
			a(href='http://www.facebook.com/sharer/sharer.php?s=100&p[url]=#{pageUrl}&p[images][0]=#{imgUrl}&p[title]=#{title}')
				img(src='/images/social/fb-ball-64.png')

			//- LINKEDIN
			a(href='http://www.linkedin.com/shareArticle?mini=true&url=#{imgUrl}&title=#{title}')
				img(src='/images/social/linkedin-ball-64.png')

			//- PINTEREST
			<a href='javascript:void((function()%7Bvar%20e=document.createElement(&apos;script&apos;);e.setAttribute(&apos;type&apos;,&apos;text/javascript&apos;);e.setAttribute(&apos;charset&apos;,&apos;UTF-8&apos;);e.setAttribute(&apos;src&apos;,&apos;http://assets.pinterest.com/js/pinmarklet.js?r=&apos;+Math.random()*99999999);document.body.appendChild(e)%7D)());'>
			img(src='/images/social/pinter-ball-64.png')
			p see no share icons? try to disable your ad or social blocker.